<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta content="text/html;charset=UTF-8" http-equiv="content-type"/>
		<title>ubermajestix.com || urban elk || awesomeness</title>
		<link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/uber.css"></link>
    <!-- <link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/sticky.css"></link> -->
    
	</head> 
	<body>
	  <div class="wrapper">
		  <img style="position: absolute; top: -55px; left: 0px; z-index: -100;" src="/images/um_logo.png" alt="Um_logo"/>
  		<div class="white_border">
  			<div style="padding: 5px; float: right;"></div>
  			<div id="uber" class="uber">
  			  <div style="float:right" style="color:#feda02">we don't have
  			    <a href="/">contraband</a> | <a href="/new">steal new shit</a> or not | punk <a href="/xlr8r">xlr8r</a> for some music
  			  </div>
  				<a href="/"><img src="/images/logo.png" alt="Logo_trans" action="index"/></a>
  				<br/>
  			</div>                       
  			<div style="margin-left: 90px; margin-bottom:30px">

  			 <%= yield %> 
  			</div>			
  		</div>
  		<div class="push"></div>
    </div>
    <div class="footer">
      <p>Copyright &copy; Tyler Montgomery 2008-2009</p>
    </div>
	</body>
</html>