<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta content="text/html;charset=UTF-8" http-equiv="content-type"/>
		<title>ubermajestix.com || urban elk || awesomeness</title>
		<link type="text/css" rel="stylesheet" media="screen" href="/css/uber.css"></link>
    <!-- <link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/sticky.css"></link> -->
    
	</head> 
	<body>
	  <div class="wrapper">
	    <div id="nav">
	     <a href="/devices">devices</a> | <a href="/locations">locations</a>
	    </div>
	    <%= yield %>
	  </div>
	</body>
<html>